* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: black;
  color: gray;
}

.light {
  background-color: whitesmoke;
  color: black;
}

.container {
  /* height: 100vh;
  width: 100vw;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.sub_container {
  height: 300px;
  width: 100%;
  max-width: 1200px;
  background-color: cadetblue;
  margin: auto;
  display: flex;
  gap: 40px;
  overflow-x: scroll; /* Horizontal scroll */
  /* overflow-y: hidden; Hide vertical scroll */
  scroll-behavior: smooth; /* Smooth scrolling effect */
  padding: 20px;
  /* scrollbar-width: none; Firefox */
}

/* .sub_container::-webkit-scrollbar {
  display: none;
} */

.image_container {
  height: 100%;
  min-width: 400px;
  flex-shrink: 0;
  background-color: blue;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_box {
  display: flex;
  width: 100%;
  /* background-color: black; */
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.btn_box > button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
  border: none;
  border-radius: 20px;
}
