* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: black;
  color: gray;
}

.light {
  background-color: whitesmoke;
  color: black;
}


.sub_container {
  height: 300px;
  width: 100%;
  max-width: 1200px;
  background-color: cadetblue;
  margin: auto;
  display: flex;
  gap: 40px;
  overflow-x: scroll; 
  scroll-behavior: smooth; 
  padding: 20px;
}


.image_container {
  height: 100%;
  min-width: 400px;
  flex-shrink: 0;
  background-color: blue;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.btn_box > button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
  border: none;
  border-radius: 20px;
}
