.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.item {
  width: 200px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loading {
  text-align: center;
  font-size: 20px;
  color: #007bff;
  margin-top: 20px;
}

.otp {
  text-align: center;
  width: 80vw;
  margin: auto;
}

.otp_box {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input_box {
  width: 40px;
  padding: 10px 20px;
}

.input_box:focus {
  border: 2px solid green;
}

.calculator {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.calculator_container {
  display: grid;
  width: auto;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: orange; */
}

.calculator_container > button {
  cursor: pointer;
  padding: 5px 10px;
}

.star_rating {
  padding: 10px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

.on {
  color: orange;
}
